<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Only rewrite if we aren't already in the public folder
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>